.container{
  width: fit-content;
  display: flex;
  flex-direction: column;  
  padding: 0 20px ;
  gap:16px;
}
.title{
  font-size: 16px;
  font-weight: 900;
}
.subtitle{
  font-size: 14px;
  font-weight: 600;
}
.buttonGroup{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:0.4rem;
}
.countButton,.selectedCountButton{
  width: 72px;
  aspect-ratio: 2/1;
  border-radius: 50px;
  background-color: var(--bg-on-surface);
  color:var(--text-active)
}
.selectedCountButton{
  background-color: var(--bg-input-border-focus);
  color:var(--text-lighten);  
}
.commonStyle,
.selectedStyle{
  width:106px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  background-color: var(--bg-on-surface);
  color:var(--text-active);
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectedStyle{
  background-color: var(--bg-input-border-focus);
  color:var(--text-lighten);
}
.layoutTop{
  justify-content: flex-start;
}
.layoutCenter{
  justify-content: center;
}
.layoutBottom{
  justify-content: flex-end;
}